@use "../../assets/sass/_variables.scss" as *;

.search-box {
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 1.4rem;

  &__input {
    border: none;
    border-bottom: 0.063rem solid $color-white;
    background-color: transparent;
    width: 100%;
    color: $color-white;
    &::placeholder {
      font-family: $font-family;
      color: $color-white;
    }
  }
}
