@use "../../assets/sass/_variables.scss" as *;

.search-box {
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 1.4rem;
  text-align: justify;
  align-items: flex-end;

  &__input {
    margin: 0rem 0.4rem;
    border: none;
    border-bottom: 0.063rem solid $color-text;
    background-color: transparent;
    width: 100%;
  }
}
