.filter-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  &__heading {
    margin-bottom: 1.2rem;
  }

  &__filters {
    display: flex;
    flex-direction: column;
  }
}
