@use "../../assets/sass/_variables.scss" as *;

.page-selector {
  display: flex;
  gap: 1rem;

  padding: 0.5rem;
  &__button {
    padding: 0.5rem 1rem;
    background-color: $color-white;
    border: none;
    box-shadow: 0.25rem 0.25rem 0.5rem -0.25rem;
    border-radius: 0.2rem;
    &:hover {
      box-shadow: 0.2rem 0.2rem;
    }
    &:active {
      box-shadow: 0.1rem 0.1rem;
    }
  }
  &__current-page-box {
    padding: 0.8rem 1rem;

    box-shadow: 0.25rem 0.25rem 0.5rem -0.25rem;
    border-radius: 0.2rem;
    background-color: $color-white;
  }
}
