@use "../../assets/sass/_variables.scss" as *;

.page-selector {
  display: flex;
  gap: 1rem;

  padding: 0.5rem;
  &__current-page-box {
    padding: 0.8rem 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem -0.25rem;
    border-radius: 0.2rem;
    background-color: $color-white;
  }
}
