.card-container {
  display: grid;
  padding: 1rem;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 2560px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
