@use "./assets/sass/_variables.scss" as *;

.app {
  display: flex;
  font-family: $font-family;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    $gradient-color-start,
    $gradient-color-finish
  );

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
