@use "../../assets/sass/_variables.scss" as *;

.header {
  width: 100vw;
  background-image: linear-gradient(
    to top,
    $gradient-color-start,
    $gradient-color-finish
  );
  color: $color-text;
  position: sticky;
  top: 0;
  padding: 0.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media screen and (max-width: 768px) and (orientation: landscape) {
    position: static;
    max-width: 40vmax;
    min-height: 100vmin;
    background-image: none;
    background-color: inherit;
    justify-content: flex-start;
  }
  @media screen and (min-width: 768px) {
    max-width: 28vw;
    width: auto;
    height: 100vh;
    background-image: none;
    background-color: inherit;
    justify-content: flex-start;
  }
  &__heading {
    font-size: 2rem;
    line-height: 150%;
    text-shadow: 0.125rem 0.125rem 0.125rem $color-shadow;
    @media screen and (max-width: 768px) and (orientation: landscape) {
      font-size: 1.6rem;
      margin: 0.6rem 0;
    }
    @media screen and (min-width: 768px) {
      margin: 1rem 0;
    }
  }
  &__subheading {
    font-size: 1.5rem;
    line-height: 150%;
    text-shadow: 0.125rem 0.125rem 0.125rem $color-shadow;
    @media screen and (max-width: 768px) and (orientation: landscape) {
      font-size: 1.3rem;
      margin-top: 0.6rem;
      margin-bottom: 0.8rem;
    }
    @media screen and (min-width: 768px) {
      margin-top: 1rem;
      margin-bottom: 1.2rem;
    }
  }
  &__separator {
    margin: 0.8rem 0 1.8rem 0;
    width: 12rem;
    background-color: $color-text;
    border: none;
    height: 0.1rem;
    box-shadow: 0.125rem 0.125rem 0.125rem $color-shadow;
    @media screen and (max-width: 768px) and (orientation: landscape) {
      width: 8rem;
    }
  }

  &__button {
    padding: 1rem;
    background-color: inherit;
    border: none;
    font-family: $font-family;
    font-size: 1rem;
    margin-bottom: 1rem;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__icon {
    padding-left: 0.5rem;
    background-color: inherit;
    border: none;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__filters--hidden {
    height: 0rem;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      height: auto;
    }
  }

  &__filters--visible {
    height: auto;
  }
}
