@use "../../assets/sass/_variables.scss" as *;

.header {
  width: 100vw;
  background-image: linear-gradient(
    to top,
    $gradient-color-start,
    $gradient-color-finish
  );
  color: black;
  position: sticky;
  top: 0;
  padding: 0.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media screen and (max-width: 768px) and (orientation: landscape) {
    width: 20vw;
    height: 100vh;
    background-image: none;
    background-color: inherit;
  }
  @media screen and (min-width: 768px) {
    width: 20vw;
    height: 100vh;
    background-image: none;
    background-color: inherit;
  }
  &__heading {
    font-size: 2rem;
    line-height: 150%;
    text-shadow: 2px 2px 2px white;
  }
  &__subheading {
    font-size: 1.5rem;
    line-height: 150%;
    text-shadow: 2px 2px 2px white;
  }
  &__separator {
    margin: 0.8rem;
    width: 12rem;
    background-color: black;
    border: none;
    height: 0.1rem;
    box-shadow: 2px 2px 2px white;
  }
}
