@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap");

$font-family: "Azeret Mono", monospace;

$gradient-color-start: #ffa64d;

$gradient-color-finish: #dcd6a4;

$color-shadow: white;

$color-text: black;

$color-card: rgba(210, 206, 206, 0.488);
