@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

$font-family: "Ubuntu", sans-serif;

$gradient-color-start: #ffa64d;

$gradient-color-finish: #dcd6a4;

$color-shadow: white;

$color-text: black;

$color-card: rgba(210, 206, 206, 0.488);

//////////////

$color-black: #232526;
$color-white: #f7f7f7;
$color-grey: #e4e4e4;
