@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap");

$font-family: "Azeret Mono", monospace;

// $color-primary: #d69d30;

// $background-color-primary: #572c57;

// $gradient-color-start: #0b4947;

// $gradient-color-finish: #ffa64d;

$color-primary: #d69d30;

$background-color-primary: rgba(0, 0, 0, 0.571);

$gradient-color-start: #ffa64d;

$gradient-color-finish: rgb(220, 213, 164);
